body.basicpage #features {
    display: none;
}
body.basicpage.home #features {
    display: block;
}
.pagecontent a {
    color: #1b567c;
    text-decoration: underline;
}
.pagecontent a:hover {
    color: #000;
    text-decoration: underline;
}
.list-date {
    font-size: 0.9rem;
}
.list-title,
.list-title a {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}
.list-title,
.list-title a:hover {
    color: #1b567c;
    text-decoration: none;
    font-weight: 600;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    display: block;
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
    background-color: #dfdfdf;
    border: solid 1px #939393;
    color: #312a22;
    border-radius: 0;
    transition: all 0.3s ease-out;
}
@media (min-width: 768px) {
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
        margin-right: auto;
        margin-left: 0;
    }
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #939393;
    color: #fff;
}
body.home .featurerotator {
    margin-top: -88px;
}
.featurerotator .slide {
    position: relative;
    width: 100%;
    height: 610px;
    overflow: hidden;
    background-size: cover;
    background-position: center left;
    color: #ffffff;
}
.featurerotator .slidetext {
    position: absolute;
    left: 72px;
    bottom: 18px;
    padding: 25px 35px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}
.featurerotator .slidetext p {
    margin-bottom: 0;
}
.home.labor .featuredCaptions {
    display: none;
}
.home.labor .slick-arrow {
    opacity: 0;
}
.news.featurelist {
    display: block;
    float: left;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: left;
}
.home .news.featurelist {
    background-color: #ffffff;
}
.news .newsitem img {
    width: 100% !important;
    height: auto !important;
}
.news .listitem {
    border-top: 1px solid #cfcfcf;
}
.news .listitem:nth-child(1) {
    border-top: 0 solid #cfcfcf;
}
.news .listitem:nth-child(1) {
    margin-top: -50px;
}
.newsthumbnail {
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 30px;
}
@media (max-width: 767px) {
    .newsthumbnail {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-right: 0;
        width: 100% !important;
        height: 100% !important;
    }
}
.newstext {
    padding-top: 50px;
    padding-bottom: 50px;
}
.news .readmore {
    margin-top: 1rem;
}
.news .newsitem .newstitle a {
    color: #191919;
    font-weight: bold;
    font-size: 18px;
}
.news .newsitem .newstitle a:hover {
    color: #0056b3;
    text-decoration: none;
}
.category {
    color: #656565;
    font-size: 18px;
    padding-top: 2rem;
}
.home .contentblock h2 a,
.teal,
.teal a {
    color: #4e906f !important;
}
.home .rich-text img {
    width: 100% !important;
    height: auto !important;
}
.people.listview {
    display: block;
    padding: 15px;
}
.people .listitem {
    padding: 15px;
}
.peoplethumbnail {
    float: left;
    padding-right: 15px;
    width: 175px;
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    .peoplethumbnail {
        float: left;
        padding-right: 30px;
        width: 190px;
        padding-bottom: 30px;
    }
}
.peoplebrowseimage {
    float: left;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.peopletitle {
    font-size: 125%;
    font-weight: bold;
}
.pagecontent .peopletitle a {
    color: black;
    text-decoration: none;
}
.pagecontent .peopletitle a:hover {
    color: #3956c2;
    text-decoration: none;
}
.peoplejobtitle {
    color: #8cb39e;
}
.peoplebiotop {
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 20px;
}
.peopleemail,
.peoplephone,
.peoplewebsite {
    font-weight: bold;
}
.publications .searchsummary {
    color: #aa0000;
    margin-bottom: 15px;
}
.publicationyear {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #2c385e;
}
.listview .publicationyear:nth-child(1) {
    border-top: 0 solid #2c385e;
    margin-top: -30px;
}
.publicationyear,
.publicationyearlink {
    font-size: 150%;
    font-weight: bold;
    color: #8cb39e;
}
.publications .listitem {
    border-top: 1px solid #cfcfcf;
}
.listitems-group .listitem:nth-child(1) {
    border-top: 0 solid #cfcfcf;
    margin-top: -50px;
}
.publicationdescription {
    padding-top: 35px;
    padding-bottom: 35px;
}
.publicationtitle {
    font-size: 125%;
    font-weight: bold;
}
.publicationauthors p {
    margin: 0;
}
.publicationlink,
.publicationlink:hover {
    color: #191919 !important;
    font-weight: 600;
}
.sitemaplinkl1 {
    font-size: 125%;
    font-weight: bold;
}
.sitemaplinkl2 {
    padding-left: 25px;
}
.sitemaplinkl3 {
    font-size: 80%;
    padding-left: 50px;
}
.pagecontent .noresize img,
.pagecontent img.noresize,
.rightrail .noresize img,
.rightrail img.noresize {}
.block-image {
    clear: left;
}
.image-center {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 100%;
}
.image-right {
    float: none;
    margin-left: auto;
}
.image-left {
    float: none;
    margin-right: auto;
}
.image-left,
.image-right {
    max-width: 100%;
    margin-bottom: 30px;
}
.image-center img,
.image-left img,
.image-right img {
    max-width: 100%;
}
@media screen and (min-width: 500px) {
    .image-right {
        float: right;
        margin-left: 40px;
    }
    .image-left {
        float: left;
        margin-right: 40px;
    }
    .image-left,
    .image-right {
        max-width: 50%;
        height: auto;
    }
}
.image_builder img:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
}
.image_builder a {
    display: block;
}
.image_builder a:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
}
.image_builder_img:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
}
.block-paragraph:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
}
.pagecontent .h3,
.pagecontent .image_builder_caption,
.rightrail h3 {
    font-size: 18px;
    margin-bottom: 3em;
    color: #646464;
    font-weight: 500;
}
.rightrail {
    float: right;
    margin-left: 25px;
    padding: 25px;
    width: 25%;
    background-color: #f5f5f5;
}
@media (max-width: 767px) {
    .rightrail {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
.rightrail label {
    font-weight: bold;
    text-transform: uppercase;
}
.rightrail input[type="text"],
.rightrail select {
    width: 100%;
    margin-bottom: 15px;
}
.rightrail input[type="button"] {
    margin-bottom: 15px;
}
.block-heading,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.7rem;
    font-weight: bold;
    line-height: 1.5;
}
footer h2 {
    color: white;
}
h3 {
    font-size: 22px;
}
@media (min-width: 768px) {
    h3 {
        font-size: 24px;
    }
}
h4 {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
.contentblock .h1,
.contentblock h1 {
    font-size: 36px;
    color: #113d59;
    font-weight: bold;
    margin-bottom: 0.7em;
}
img.full-width {
    width: 100%;
    height: auto;
}
.footer-nav-1 {
    max-width: 1250px;
}
.container-fluid.footer-nav-1 {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container-fluid.footer-nav-1 {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (min-width: 1320px) {
    .container-fluid.footer-nav-1 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.home .container-fluid.footer-nav-1 {
    padding-left: 70px;
    padding-right: 70px;
}
#footer-menu .footer-nav-1 h5 a {
    font-size: 1.5rem;
    font-weight: bold;
}
#footer-menu .footer-nav-1 li a {
    font-size: 1rem;
    font-weight: normal;
}
@media screen and (min-width: 768px) {
    #footer-menu .footer-nav-1 h5 a {
        font-size: 16px;
    }
    #footer-menu .footer-nav-1 li a {
        font-size: 14px;
    }
}
@media screen and (min-width: 1300px) {
    #footer-menu .footer-nav-1 h5 a {
        font-size: 20px;
    }
    #footer-menu .footer-nav-1 li a {
        font-size: 17px;
    }
}
@media screen and (max-width: 767px) {
    #footer-menu .footer-nav-1 li a {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: block;
    }
}
.footer-nav-1 .row {
    border-bottom: 1px solid white;
}
@media (min-width: 768px) {
    .footer-nav-1 .row {
        border-bottom: 0 solid white;
    }
}
.footer-nav-2 {
    max-width: 1000px;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}
.footer-nav-2 .row2 {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.footer-nav-2 h5 {
    padding-bottom: 20px;
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 0;
    white-space: nowrap;
    text-align: center;
}
@media (max-width: 575px) {
    .footer-nav-2 {
        text-align: center !important;
        padding-bottom: 40px;
    }
}
@media (min-width: 576px) {
    .footer-nav-2 {
        padding-bottom: 16px;
    }
    .footer-nav-2 h5 {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media (min-width: 768px) {
    .footer-nav-2 .row2 {
        display: flex;
    }
    .footer-nav-2 h5 {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 2px;
    }
    .footer-nav-2 .right-divider {
        border-right: 1px solid #fff;
    }
}
.footer-nav-3 h5 {
    padding-bottom: 25px;
}
.cl-num {
    font-size: 90%;
    padding-bottom: 70px;
}
@media (min-width: 768px) {
    .dropdown-item.mobile-only {
        display: none;
    }
}
#site_footer {
    padding: 0 2em 5em;
    background-color: black;
    font-size: 16px;
}
#site_footer a:hover {
    color: white;
}
#site_footer .gradient_line {
    margin-left: auto;
    margin-right: auto;
    content: " ";
    width: 100%;
    height: 1px;
    clear: both;
    background: #61b6fd;
    background: -moz-linear-gradient(left, transparent, #61b6fd, transparent);
    background: -webkit-linear-gradient(left, transparent, #61b6fd, transparent);
    background: linear-gradient(to right, transparent, #61b6fd, transparent);
    width: 90%;
}
@media (min-width: 769px) {
    #site_footer .gradient_line {
        width: 50%;
    }
}
.upper_footer {
    padding: 0 0 4em;
}
.upper_footer .grid_layout {
    width: 100%;
}
.upper_footer .footer_newsletter,
.upper_footer .share {
    text-align: center;
    padding: 1.69492%;
    margin-bottom: 3em;
    width: 100%;
}
#site_footer .upper_footer .footer_newsletter h2,
#site_footer .upper_footer .share h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.6em;
    color: white !important;
    letter-spacing: -0.035em;
}
@media (min-width: 600px) {
    #site_footer .upper_footer .footer_newsletter h2,
    #site_footer .upper_footer .share h2 {
        font-size: 1.6em;
    }
}
@media (min-width: 1200px) {
    #site_footer .upper_footer .footer_newsletter h2,
    #site_footer .upper_footer .share h2 {
        font-size: 1.8em;
    }
}
.upper_footer .gradient_line_divider {
    margin: 1em auto;
    display: none;
}
@media (min-width: 600px) {
    .upper_footer .footer_newsletter {
        width: 48.71795%;
        float: left;
        margin-left: 0;
        margin-right: -100%;
    }
}
@media (min-width: 769px) {
    .upper_footer .footer_newsletter {
        width: 40.67797%;
        float: left;
        margin-left: 8.47458%;
        margin-right: -100%;
    }
}
@media (min-width: 600px) {
    .upper_footer .share {
        width: 48.71795%;
        float: left;
        margin-left: 51.28205%;
        margin-right: -100%;
    }
}
@media (min-width: 769px) {
    .upper_footer .share {
        width: 40.67797%;
        float: left;
        margin-left: 50.84746%;
        margin-right: -100%;
    }
}
#site_footer .sitemap {
    margin-bottom: 3em;
}
@media (min-width: 600px) {
    #site_footer .sitemap .grid_layout {
        width: 100%;
    }
}
@media (min-width: large) {
    #site_footer .sitemap .grid_layout {
        width: 97%;
    }
}
#site_footer .sitemap_directory {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 3em;
}
#site_footer .sitemap_directory .footer_sitemap_item {
    margin-bottom: 0.6em;
}
@media (min-width: 600px) {
    #site_footer .sitemap_directory .footer_sitemap_item {
        margin-bottom: 0.2em;
    }
}
@media (min-width: 1024px) {
    #site_footer .sitemap_directory .footer_sitemap_item {
        margin-bottom: 0.2em;
        margin-left: 10%;
    }
}
#site_footer .sitemap_title {
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.2em;
    letter-spacing: -0.01em;
    margin-bottom: 0.3em;
}
@media (min-width: 600px) {
    #site_footer .sitemap_title {
        font-size: 1.1em;
    }
}
@media (min-width: 1024px) {
    #site_footer .sitemap_title {
        font-size: 1.3em;
    }
}
#site_footer .sitemap_block {
    text-align: center;
    width: 100%;
}
@media (min-width: 600px) {
    #site_footer .sitemap_block {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        text-align: left;
    }
}
@media (min-width: 600px) {
    #site_footer ul.subnav {
        margin-bottom: 1em;
    }
    #site_footer ul.subnav li {
        padding-left: 1em;
        text-indent: -1em;
        margin: 0.1em 0;
    }
}
#site_footer ul.subnav a {
    color: #a5a6a7;
    text-decoration: none;
    font-size: 1em;
}
@media (min-width: 600px) {
    #site_footer ul.subnav a {
        font-size: 0.85em;
    }
}
@media (min-width: 1024px) {
    #site_footer ul.subnav a {
        font-size: 0.95em;
    }
}
.no-touch #site_footer ul.subnav a:hover {
    color: white;
}
.lower_footer {
    overflow: hidden;
}
.lower_footer .nav_container {
    margin: 0 auto;
    position: relative;
    left: 0;
    width: 100%;
    margin-bottom: 2.5em;
}
@media (min-width: 1024px) {
    .lower_footer .nav_container {
        padding-top: 1em;
        position: absolute;
    }
}
.lower_footer nav {
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    color: #a5a6a7;
}
.lower_footer nav a {
    color: #a5a6a7;
    text-decoration: none;
}
.no-touch .lower_footer nav a:hover {
    color: white;
}
.lower_footer nav li {
    margin: 0 0.6em;
    display: inline;
    line-height: 2em;
}
.lower_footer nav li li:before {
    margin-left: 0.6em;
}
.lower_footer .credits {
    color: #a5a6a7;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    position: relative;
}
.lower_footer .credits > span {
    display: block;
}
.lower_footer .credits a {
    color: #a5a6a7;
    text-decoration: none;
}
.no-touch .lower_footer .credits a:hover {
    color: white;
}
@media (min-width: 1024px) {
    .lower_footer .credits {
        float: right;
        width: 20%;
        text-align: left;
    }
    .lower_footer .credits > span {
        display: block;
    }
}
.module {
    padding: 2.3em 0 3em;
    position: relative;
}
@media (min-width: 769px) {
    .module {
        padding: 4em 0 4.3em;
    }
}
.grid_layout {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.grid_layout:after {
    content: " ";
    display: block;
    clear: both;
}
@media (min-width: 600px) {
    .grid_layout {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    .grid_layout:after {
        content: " ";
        display: block;
        clear: both;
    }
}
@media (min-width: 769px) {
    .grid_layout {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .grid_layout:after {
        content: " ";
        display: block;
        clear: both;
    }
}
@media (min-width: 1024px) {
    .grid_layout {
        max-width: 1200px;
        width: 97%;
    }
    .content_page .grid_layout {
        width: 90%;
    }
}
.light_background .site_header form.nav_search,
.overlay_search,
.section_search,
.site_header form.nav_search,
form.submit_newsletter {
    color: white;
    display: inline-block;
    position: relative;
}
.overlay_search .search_field,
.section_search .search_field,
.site_header form.nav_search .search_field,
form.submit_newsletter .email_field,
form.submit_newsletter .search_field {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}
.overlay_search .search_field.placeholder,
.section_search .search_field.placeholder,
.site_header form.nav_search .search_field.placeholder,
form.submit_newsletter .placeholder.email_field,
form.submit_newsletter .search_field.placeholder {
    color: white;
    -webkit-font-smoothing: antialiased;
}
.overlay_search .search_field:-moz-placeholder,
.section_search .search_field:-moz-placeholder,
.site_header form.nav_search .search_field:-moz-placeholder,
form.submit_newsletter .email_field:-moz-placeholder,
form.submit_newsletter .search_field:-moz-placeholder {
    color: white;
    -webkit-font-smoothing: antialiased;
}
.overlay_search .search_field::-moz-placeholder,
.section_search .search_field::-moz-placeholder,
.site_header form.nav_search .search_field::-moz-placeholder,
form.submit_newsletter .email_field::-moz-placeholder,
form.submit_newsletter .search_field::-moz-placeholder {
    color: white;
    -webkit-font-smoothing: antialiased;
}
.overlay_search .search_field::-webkit-input-placeholder,
.section_search .search_field::-webkit-input-placeholder,
.site_header form.nav_search .search_field::-webkit-input-placeholder,
form.submit_newsletter .email_field::-webkit-input-placeholder,
form.submit_newsletter .search_field::-webkit-input-placeholder {
    color: white;
    -webkit-font-smoothing: antialiased;
}
.overlay_search .search_field,
.section_search .search_field,
.site_header form.nav_search .search_field,
form.submit_newsletter .email_field,
form.submit_newsletter .search_field {
    font-size: 16px;
    border: none;
    border-radius: 4px;
    height: 40px;
    padding-left: 1.1em;
    padding-right: 40px;
    padding-top: 0.2em;
}
.overlay_search .search_field.placeholder,
.section_search .search_field.placeholder,
.site_header form.nav_search .search_field.placeholder,
form.submit_newsletter .placeholder.email_field,
form.submit_newsletter .search_field.placeholder {
    opacity: 1 !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.overlay_search .search_field:-moz-placeholder,
.section_search .search_field:-moz-placeholder,
.site_header form.nav_search .search_field:-moz-placeholder,
form.submit_newsletter .email_field:-moz-placeholder,
form.submit_newsletter .search_field:-moz-placeholder {
    opacity: 1 !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.overlay_search .search_field::-moz-placeholder,
.section_search .search_field::-moz-placeholder,
.site_header form.nav_search .search_field::-moz-placeholder,
form.submit_newsletter .email_field::-moz-placeholder,
form.submit_newsletter .search_field::-moz-placeholder {
    opacity: 1 !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.overlay_search .search_field::-webkit-input-placeholder,
.section_search .search_field::-webkit-input-placeholder,
.site_header form.nav_search .search_field::-webkit-input-placeholder,
form.submit_newsletter .email_field::-webkit-input-placeholder,
form.submit_newsletter .search_field::-webkit-input-placeholder {
    opacity: 1 !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.overlay_search .search_submit,
.section_search .search_submit,
.site_header form.nav_search .search_submit,
form.submit_newsletter .email_submit,
form.submit_newsletter .search_submit {
    background-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
}
.light_background .site_header form.nav_search .search_field,
.light_background.site_headerform.nav_searchform.submit_newsletter.email_field,
.section_search .search_field,
.section_search form.submit_newsletter .email_field,
form.submit_newsletter .section_search .email_field,
form.submit_newsletter.light_background.site_headerform.nav_search.email_field {
    background-color: white;
    color: #222222;
}
.light_background .site_header form.nav_search .search_field.placeholder,
.light_background.site_headerform.nav_searchform.submit_newsletter.placeholder.email_field,
.section_search .search_field.placeholder,
.section_search form.submit_newsletter .placeholder.email_field,
form.submit_newsletter .section_search .placeholder.email_field,
form.submit_newsletter.light_background.site_headerform.nav_search.placeholder.email_field {
    color: #5a6470;
    opacity: 1 !important;
}
.light_background .site_header form.nav_search .search_field:-moz-placeholder,
.light_background.site_headerform.nav_searchform.submit_newsletter.email_field:-moz-placeholder,
.section_search .search_field:-moz-placeholder,
.section_search form.submit_newsletter .email_field:-moz-placeholder,
form.submit_newsletter .section_search .email_field:-moz-placeholder,
form.submit_newsletter.light_background.site_headerform.nav_search.email_field:-moz-placeholder {
    color: #5a6470;
    opacity: 1 !important;
}
.light_background .site_header form.nav_search .search_field::-moz-placeholder,
.light_background.site_headerform.nav_searchform.submit_newsletter.email_field::-moz-placeholder,
.section_search .search_field::-moz-placeholder,
.section_search form.submit_newsletter .email_field::-moz-placeholder,
form.submit_newsletter .section_search .email_field::-moz-placeholder,
form.submit_newsletter.light_background.site_headerform.nav_search.email_field::-moz-placeholder {
    color: #5a6470;
    opacity: 1 !important;
}
.light_background.site_headerform.nav_search.search_field::-webkit-input-placeholder,
.light_background.site_headerform.nav_searchform.submit_newsletter.email_field::-webkit-input-placeholder,
.section_search .search_field::-webkit-input-placeholder,
.section_search form.submit_newsletter .email_field::-webkit-input-placeholder,
form.submit_newsletter .section_search .email_field::-webkit-input-placeholder,
form.submit_newsletter.light_background.site_headerform.nav_search.email_field::-webkit-input-placeholder {
    color: #5a6470;
    opacity: 1 !important;
}
#home.light_background .section_search .search_field,
#home.light_background .section_search form.submit_newsletter .email_field,
#home.light_background .site_header form.nav_search .search_field,
#home.light_background.site_headerform.nav_searchform.submit_newsletter.email_field,
form.submit_newsletter #home.light_background .section_search .email_field,
form.submit_newsletter#home.light_background.site_headerform.nav_search.email_field {
    background-color: rgba(255, 255, 255, 0.8);
}
.light_background .site_header form.nav_search .search_submit,
.light_background.site_headerform.nav_searchform.submit_newsletter.email_submit,
.section_search .search_submit,
.section_search form.submit_newsletter .email_submit,
form.submit_newsletter .section_search .email_submit,
form.submit_newsletter.light_background.site_headerform.nav_search.email_submit {
    background-size: 20px;
    margin-top: -2px;
}
.filter_bar .light_background .site_header form.nav_search .search_submit,
.filter_bar .section_search .search_submit,
.filter_bar .section_search form.submit_newsletter .email_submit,
.filter_bar.light_background.site_headerform.nav_searchform.submit_newsletter.email_submit,
.light_background .site_header .filter_bar form.nav_search .search_submit,
.light_background.site_header.filter_barform.nav_searchform.submit_newsletter.email_submit,
form.submit_newsletter .filter_bar .section_search .email_submit,
form.submit_newsletter.filter_bar.light_background.site_headerform.nav_search.email_submit,
form.submit_newsletter.light_background.site_header.filter_barform.nav_search.email_submit {
    background-size: 20px;
}
.site_header form.nav_search {
    display: none;
}
@media (min-width: 769px) {
    .site_header form.nav_search {
        display: inline-block;
    }
}
.light_background .site_header form.nav_search {
    display: none;
}
@media (min-width: 769px) {
    .light_background .site_header form.nav_search {
        display: inline-block;
    }
}
form.submit_newsletter {
    width: 85%;
    max-width: 300px;
    display: inline-block;
}
form.submit_newsletter .email_field {
    width: 100%;
}
form.submit_newsletter .email_submit {
    background-size: 25px;
    opacity: 0.8;
}
form.submit_newsletter .email_submit:hover {
    opacity: 1;
}
#secondary_column form.submit_newsletter {
    width: 100%;
    max-width: none;
}
#secondary_column form.submit_newsletter .email_field,
#secondary_column form.submit_newsletter .search_field {
    background: #4b6a8d;
    border-radius: 4px;
}
.addthis-smartlayers-desktop .addthis_32x32_style a {
    width: 40px;
}
.touch .addthis-smartlayers {
    position: relative;
}
.social_icons {
    display: inline-block;
    margin-top: 3px;
    white-space: nowrap;
}
.social_icons .icon {
    display: inline-block;
    overflow: hidden;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 !important;
    margin-bottom: 0.6em;
}
.social_icons .icon .icon {
    margin-left: 0.6em;
}
@media (min-width: 769px) {
    .social_icons .icon .icon {
        margin-left: 0.7em;
    }
}
.social_icons .all_icon {
    height: 32px;
    width: 32px;
    position: relative;
    vertical-align: middle;
    color: #a5a6a7;
}
.social_icons .all_icon span {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: normal;
}
.social_icons .all_icon:hover {
    color: white;
}
#site_footer input[type="button"],
#site_footer input[type="submit"],
#site_footer input[type="reset"] {
    display: block;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    background-color: inherit;
    border: solid 0 #939393;
    color: inherit;
    border-radius: 0;
    transition: all 0.3s ease-out;
}
